
// Règles communes à tous les prompts
div.highlighter-rouge.prompt .rouge-code pre {
  padding-left: 13ch;
  position: relative;
  position: absolute;
  left: 0;
  top: 0;
  color: #6c757d;
  font-family: monospace;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

// Règles spécifiques de format prompt-utilisateur-machine
div.highlighter-rouge.prompt-root-pm1 .rouge-code pre::before {
  content: "root@PM1:~# ";
  position: absolute;
  left: 0;
  top: 0;
  color: #6c757d;
  font-family: monospace;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

div.highlighter-rouge.prompt-root-pm2 .rouge-code pre::before {
  content: "root@PM2:~# ";
}

div.highlighter-rouge.prompt-root-serveur .rouge-code pre::before {
  content: "root@serveur:~# ";
  position: absolute;
  left: 0;
  top: 0;
  color: #6c757d;
  font-family: monospace;
  user-select: none;
  pointer-events: none;
  white-space: nowrap;
}

/* padding et position */
div.highlighter-rouge.prompt-root .rouge-code pre,
div.highlighter-rouge.prompt-user .rouge-code pre {
  padding-left: 13ch;
  position: relative;
}


